

html{
    box-sizing: border-box;
}

*,
*::before
*::after {
    box-sizing: inherit;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.777;
    color: #000;
    overflow-wrap: break-word;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}


/*  HEADER + NAVIGATION*/

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #EEEFF1;
    position: relative;
}
.header-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background: #EEEFF1;
    position: relative;

}
.logo{

    margin-left: 90px;
}


.favicon>img{
    height: 50px;
}


.navigation{
    display: flex;
    margin-right: 20px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
}

.list-item{
    padding-bottom: 12px;
}
.list-item>a:hover {
    color: rgb(9, 83, 180);

}
.list-item>a{
    font-size: 16px;
    color: #000;
    margin: 0 7px;
    text-decoration: none;
}

/* INTERCTIVE MENU */

.nav-inp{
    position: absolute;
    top: 0;
    left: -9999999px;
    opacity: 0;
    visibility: hidden;
}

.menu-btn{
    position: relative;
    height: 15px;
    width: 25px;
}

.menu-btn span{
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background: #000;
}

.menu-btn::before,
.menu-btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: #000;
    height: 2px;
}

.menu-btn::before{
    top: 0;
}

.menu-btn::after{
    bottom: 0;
}

.nav-inp:checked + label span{
    opacity: 0;
    visibility: hidden;
}

.nav-inp:checked + label::before{
    transition: transform .3s ease-in;
    transform: rotate(45deg);
    top: 10px;
}

.nav-inp:checked + label::after{
    transition: transform .3s ease-in;
    transform: rotate(-45deg);
    top: 10px;
    bottom: auto;
}

.nav-inp:checked ~ .nav-list{
    transition: opacity .05s ease-in;
    opacity: 1;
    visibility: visible;
}

.nav-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #EEEFF1;
    text-align: center;
    padding: 15px 0;
}

.header-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 90px 0 110px;
}

.header-text{
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin-left: 65px;
}

.header-text>*{
    margin: 30px 0;
}

.head-img{
    margin: 0;
    max-width: 357px;
}

.head-img img{
    width: 100%;
}


.inbox-action{
    position: relative;

}

.inbox-button{
    background: #34547A;
    color: #fff;
    border: 0;
    padding: 25px 41px;
}

.inbox-button:hover {
    cursor: pointer;
    transition: transform .3s ease-in;
    transform: scale(1.2);

}

/* MAIN */
.main{
    display: flex;
    flex-direction: column;
}

.main>*{
    padding: 0 20px;
}
.top-text{
    display: flex;
    flex-direction: column;
    margin: 95px 0 75px;
    justify-content: center;
    align-items: center;
}

.top-text *{
    max-width: 550px;
    text-align: center;
    padding: 25px 0;
    margin: 0;
}


.forty-projects, .proj-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background: #34547A;
    margin: 0 ;
}

.proj-item {
    padding: 70px 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.proj-item *{
    margin: 0 auto;
    color: #fff;
}

.proj-item i {

    font-size: 50px;
}

.proj-content {
    overflow-wrap: break-word;
    max-width: 90px;
    margin: 0 20px;
    position: relative;
    bottom: 6px;
}

.proj-content h3{
    margin: 0 auto;
    font-size: 21px;
}

.my-id{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 102px 0;
}

.my-photo{

    max-width: 555px;
}

.my-skills{
    min-width: 150px;
    max-width: 450px;
    padding: 20px 75px 0 0;
    align-self: center;
    flex-basis: 50%;
}

.skill p{
    margin: 30px 0 20px;
}
.progress-bar {
    position: relative;
    background-color: #C4C4C4;
    height: 5px; 
}

.progress-bar span {
    position: absolute;
    background-color: #34547A;
    height: 5px;
}

.my-photo img{
    width: 100%;
    height: 100%;
}

.my-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEEFF1;
    
}

.work-text{
    max-width: 550px;
    position: relative;
    margin: 100px 0 57px;
    position: relative;
    text-align: center;
    justify-content: center;
}


.video-container {
    position: relative;
    margin: 0 0 100px;
    max-width: 1110px;
    max-height: 600px;
    cursor: pointer;
}

.video {
    width: 100%;
}


#pause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: no-repeat center/75% url(img/play.png);
}


.img-box {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 10px 0 0 ;
}

.img-list {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 36px;
}

.img-item {
    position: relative;
    display: flex;
    order: 0;
    flex: 0 1 50%;
}

.img-item>img {
    width: 100%;
}


.hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
    transition: opacity .2s;
    background: #34537acb;
    height: 100%;
    width: 100%;
}

.hov-link {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: no-repeat center url(img/view.png); 
}


.img-item:hover .hover {
    opacity: 1;
}

.companys-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 36px 0 100px 0;
}

.comp-item {
 padding: 0 15px;
}

.comp-item *{
    margin: 0;
    padding: 0;
}

.comp-item img {
    width: 100%;
    height: 100%;
}

.request{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEEFF1;
    padding: 100px 20px ;
}

.request-text {
    margin: 0;
    text-align: center;
    max-width: 550px;
    padding-bottom: 30px ;
}

.request-text * {
    margin: 0;
}

.request-text h2 {
    padding-bottom: 25px;
}

.request-text p {
    padding-top: 25px;
}


.request-form, .form-box {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 550px;
}

.request-form input {
    position: relative;
    text-align: start;
}


.name-text,
.email {
    border: none;
    width: 250px;
    height: 50px;
    margin: 10px 0;
    padding-left: 10px;

}



.form-text {
    margin: 10px 5px 25px;
    width: 100%;
    height: 175px;
}

.col textarea{
    height: 175px;
    resize: none;
    padding: 10px;
    border: none;
    width: -webkit-fill-available;
}

.submit {
    margin: 25px 0;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #34547A;
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 50px 20px;
}

.user {
    order: 1;
    text-align: center;
}

.user h3,
.user p {
    color: #fff;
    margin: 0;
}

.link {
    background: #34547A;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 50px 0;
}

.link-item a {
    text-decoration: none;
}


.icon-Vector{
    color: #fff;
    font-size: 23px;
    padding: 0 10px;
    border: 0;
}



@media (min-width: 768px){
     .menu-btn{
        display: none;
    }

    .nav-list {
        opacity: 1;
        visibility: visible;
        display: flex;
        position: relative;
        padding: 0;
    }
    .head-img{
        padding-right: 65px;
    }

    .my-id{
        flex-wrap: nowrap;
    }
    .my-skills{
        padding-top: 0;
        order: -1;
        width: auto;
        flex-basis: 50%;
    }

    .my-photo{
        padding-left: 75px;
    }
    .img-item {
        flex: 0 1 25%;
    }
    
    #pause {
        background: no-repeat center/ 100% url(img/play.png);
    }
    
    .img-list>:nth-child(-n+2),
    .img-list>:nth-child(4) {
        order: 0;
    }

    .img-list>:nth-child(3),
    .img-list>:nth-child(6) {
        order: 1;
    }

    .img-list>:nth-child(5),
    .img-list>:nth-last-child(-n+2) {
        order: 2;
    }
    

    .companys-logo {
        flex-direction: row;
    }

    .name-text {
        margin-right: 7.5px ;
    }
    
    .email {
        margin-left: 7.5px;
    }

    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 150px;
    }

    .user {
        order: 0;
        text-align: start;
    }
    
    
    .link {
        background: #34547A;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 50px 0;
    }
  
}